.show {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.show__wall {
    width: 100%;
    min-height: 60vh;
    position: relative;
}

.show__wall--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* .show__wall--image {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */