.gig {
    position: relative;
    width: 100%;
    min-height: var(--hero-min-height);
    overflow: hidden;
}

.gig__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
}

/*********** SHOW ***********/
.gig__show {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
}

.gig__show--container {
    max-width: 800px;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    align-self: stretch; */
    margin-top: 1.25rem;
}