.bit-upcoming-events {
    display: flex !important;
    flex-direction: column !important;
}
.bit-event {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

/* .bit-widget {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */

a.bit-widget a {
    text-decoration: none;
    color: inherit;
    font-size: 4px;
}