.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    row-gap: 1rem;
    margin: 4rem 2rem;
}

.contact__des {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.contact__input {
    color: var(--text-color);
}

input, #firstname, #lastname, #email {
    padding: 5px 0 5px 0;
    margin: 0 5px 0 5px;
    background-color: black;
    border: inset 0;
    border-bottom: 1px solid #d2d2d2;
}

textarea, #message {
    padding: 5px 0 6rem 0;
    margin: 0 5px 0 5px;
    background-color: black;
    border: inset 0;
    border-bottom: 1px solid #d2d2d2;
}

button {
    padding: 5px 0 5px 0;
    margin: 0 5px 0 5px;
}