.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    row-gap: 1rem;
    margin: 4rem 2rem;
}

.contact__des {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.contact__input {
    color: var(--text-color);
    border-bottom-width: 5px;
    border-bottom-right-radius: 80px 80px;
}

.contact__input, textarea {
    resize: none;
}

input, #firstname, #lastname, #email {
    padding: 5px 0 5px 0;
    margin: 0 5px 0 5px;
    background-color: black;
    border: inset 0;
    border-bottom: 1px solid #d2d2d2;
}

textarea, #message {
    padding: 5px 0 6rem 0;
    margin: 0 5px 0 5px;
    background-color: black;
    border: inset 0;
    border-bottom: 1px solid #d2d2d2;
}

/* .contact__btn {
    width: 10px;
    padding: 5px 0 5px 0;
    margin: 0 5px 0 5px;
} */

.contact__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 3rem 3rem; */
    cursor: pointer;
}

.contact__btn:nth-child(n):hover {
    background: var(--first-color);
    color: var(--text-color);
    transition: color 0.3s ease;
    transition: background 0.3s ease;
}