.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    row-gap: 1rem;
    margin: 4rem 2rem;
}

.contact__des {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

/* input {
    border-bottom: 2px solid #ccc;
    width: 60%;
    display: block;
    margin: 0 auto;
} */

input, #firstname, #lastname, #email {
    padding: 5px 0 5px 0;
    margin: 0 auto;
    background-color: black;
    border: inset 0;
    border-bottom: 1px solid #d2d2d2;
    width: 75%;
    display: block;
}

textarea, #message {
    padding: 5px 0 6rem 0;
    margin: 0 auto;
    background-color: black;
    border: inset 0;
    border-bottom: 1px solid #d2d2d2;
    width: 75%;
    display: block;
}

.contact__input {
    color: var(--text-color);
    /* border-bottom-right-radius: 80px 80px; */
}

.contact__input, textarea {
    resize: none;
}

.contact__btn {
    width: 90px;
    height: 40px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    cursor: pointer;
}

.contact__btn:nth-child(n):hover {
    background-color: var(--theme-color);
    /* background: var(--first-color); */
    color: var(--text-color);
    transition: color 0.3s ease;
    transition: background 0.3s ease;
}