.mix {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 2rem; 
    /* padding: 0 4rem; */
    /* gap: 4rem; */
}

/* .mix__container {
    border: 1px solid;
} */

.mix__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 8px solid; */
    margin: 2rem;
}

.mix__title--fushion {
    /* font-family: "Helvetica Neue"; */
    font-style: normal;
    font-weight: 600;
    /* margin: 0; */
    font-size: 2rem;
    letter-spacing: 0.3em;
    line-height: 1.3;
}

/***************** songs *****************/

.songs {
    border: 5px solid green;
}

.songs__event {
    border: 5px solid red;
}

.songs__list {
    border: 5px solid blue;
    display: flex;
    flex-direction: row;
}

.songs__list--name {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
}