/* .header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 5rem;
    height: 4rem;
}

.header-menu {
    display: flex;
    gap: 2rem;
    color: white;
}

.header-menu > li:hover {
    cursor: pointer;
    color: var(--orange);
} */

