/* .footer-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: var(--z-fixed);
}

.copyRight {
    color: white;
    font-size: 10px;
}

.footLink {
    text-decoration: none;
    color: red;
} */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.footer__social {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.footer__social > a > img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.footer-date {
    /* height: 100%; */
    /* bottom: 0; */
    /* left: 0; */
    /* z-index: var(--z-fixed); */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* .logo-d > img {
    width: 10rem;
} */