/* .footer-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: var(--z-fixed);
}

.copyRight {
    color: white;
    font-size: 10px;
}

.footLink {
    text-decoration: none;
    color: red;
} */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 10rem;
}

.footer__social {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.footer__link {
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    color: white;
}

.footer__link:nth-child(1):hover {
    color: var(--first-color);
    transition: color 0.3s ease;
}

/* .footer__social--instagram {
    width: 2rem;
    height: 2rem;
} */

/* .footer__social > a > img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    text-decoration: none;
} */

.footer__social--spotify {
    /* width: 2rem;
    height: 2rem;
    text-decoration: none; */
}

/*********************Terms of Service********************/

.footer__policy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

/********************Footer Dates*****************/

.footer__date {
    /* height: 100%; */
    /* bottom: 0; */
    /* left: 0; */
    /* z-index: var(--z-fixed); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid white; */
}

.footer__date--description {
    font-size: 1em;
    /* font-family: "Thunder Lord"; */
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
}

.footer__date--link {
    font-family: "Thunder Lord";
    font-size: 1em;
}

.footer__date--link:nth-child(1):hover {
    color: var(--first-color);
    transition: color 0.3s ease;
}

/*************************DIAG LOGO INPUT******************/

/* .logo-d > img {
    width: 10rem;
} */