@font-face {
  font-family: "Helvetica Neue", "Metal Lord", "Thunder Lord", "Neue Haas Unica";
  src: url(https://www.1001fonts.com/metal-lord-font.html?text=thunder%20lord&commercial=true&page=1);
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Neue Haas Unica";
}

html {
  scroll-behavior: smooth;
}

:root {
  --header-height: 3.5rem;
  --theme-color: rgba(10, 73, 97, 1);
  --first-color: rgba(128, 0, 0, 1);
  --title-color: hsl(0, 0%, 95%);
  --text-color: rgb(191, 191, 191);
  --body-color: hsl(0, 0%, 6%);
  --body-font: "Neue Haas Unica", "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --h2-font-size: 2rem;
  --small-font-size: 0.785rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --appColor: black;
  --z-fixed: 100;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Neue Haas Unica' 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  font-family: var(--body-font);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}