.gigs {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 4rem; */
    /* gap: 4rem; */
}

.fushion-container {
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    /* text-align: right; */
}

.fushion-title {
    /* display: block; */
    /* display: flex;
    flex-direction: column;
    justify-content: right; */
    border-bottom: 1px solid;
}

.fushion-gig {
    font-family: Thunder Lord;
    font-style: normal;
    font-weight: 600;
    /* margin: 0; */
    font-size: 2rem;
    letter-spacing: 0.3em;
    line-height: 1.3;
}

.bit-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.bit-event-list {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}

.bit-events-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2rem;
    
}

.bit-upcoming-events {
    /* padding: 0 20px 30px 60px; */
    border-bottom: 1px solid
}

.bit-event {
    /* background: transparent; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bit-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    font-size: 25px;
}

.bit-date {
    /* min-width: 95px; */
    /* margin: ; */
}

.bit-titleWrapper {
    /* margin: auto; */
}

.bit-venue {
    /* margin: 0 auto 0 0; */
}

.bit-location {
    /* margin: 0 14px 0 5px; */
    /* text-align: right;
    font-weight: normal;
    hyphens: auto; */
}

.bit-details bit-event-buttons {
    /* margin-top: 0; */
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; */
}

.bit-rsvp-container {
    /* flex-basis: auto; */
    /* margin: 4px 0 0 0; */
}

.bit-rsvp bit-button {
    width: 150px;
}

/* .left-g {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.right-g {
    display: flex;
    justify-content: center;
    align-items: flex-end;
} */