/* .vds-thumbnail {
    /* CSS variables available for customization (defaults shown). */
    /* --media-thumbnail-bg: black; */
    /* --media-thumbnail-border: 1px solid white; */
    /* --media-thumbnail-aspect-ratio: 16 / 9; */
    /* Applies when scaling thumbnails up. */
    /* --media-thumbnail-min-width: 120px; */
    /* --media-thumbnail-min-height: calc(var(--media-thumbnail-min-width) / var(--aspect-ratio)); */
    /* Applies when scaling thumbnails down. */
    /* --media-thumbnail-max-width: 180px; */
    /* --media-thumbnail-max-height: calc(var(--media-thumbnail-max-width) / var(--aspect-ratio)); 
} */

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .video__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  font-size: 2rem;
} */

.video__container {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 6rem 0.5rem;
  width: 65%;
  height: 50%;
}

.video__container--media {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}

.video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Responsive adjustments for video page */
@media (max-width: 900px) {
  .video__container { padding: 4rem 0.5rem; width: 95%; }
}

@media (max-width: 720px) {
  .video__container { padding: 2.5rem 0.5rem; flex-direction: column; }
  .video__container--media { padding-bottom: 56.25%; width: 100%; max-width: 100%; }
}

@media (max-width: 480px) {
  .video__container { padding: 1.25rem 0.5rem; }
  .video__container--media { padding-bottom: 56.25%; }
}

