.notfound-container {
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* GLITCH TEXT */

.glitch {
  font-size: 120px;
  position: relative;
  letter-spacing: 5px;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
}

.glitch::before {
  color: red;
  animation: glitchTop 2s infinite;
  clip-path: inset(0 0 50% 0);
}

.glitch::after {
  color: cyan;
  animation: glitchBottom 1.8s infinite;
  clip-path: inset(50% 0 0 0);
}

@keyframes glitchTop {
  0% { transform: translate(0); }
  30% { transform: translate(-2px,-2px); }
  60% { transform: translate(2px,1px); }
  100% { transform: translate(0); }
}

@keyframes glitchBottom {
  0% { transform: translate(0); }
  30% { transform: translate(2px,2px); }
  60% { transform: translate(-2px,-1px); }
  100% { transform: translate(0); }
}

.subtitle {
  margin-top: 10px;
  letter-spacing: 3px;
}

.description {
  margin-top: 10px;
  opacity: 0.6;
}

/* PULSE LINE */

.pulse-line {
  width: 320px;
  height: 2px;
  background: rgba(255,255,255,0.4);
  position: relative;
  margin-top: 40px;
  overflow: hidden;
}

/* moving spike */

.pulse {
  position: absolute;
  top: -9px;
  width: 30px;
  height: 18px;

  border-left: 2px solid white;
  border-bottom: 2px solid white;

  transform: rotate(-45deg);

  animation: pulseMove 2.5s linear infinite;
}

@keyframes pulseMove {

  0% {
    left: -40px;
  }

  100% {
    left: 340px;
  }

}

/* BUTTON */

.home-button {
  margin-top: 40px;
  padding: 12px 26px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.home-button:hover {
  background: white;
  color: black;
}